body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 '\5fae\8f6f\96c5\9ed1', 'Lucida Grande', Arial, '\5b8b\4f53' }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
ul, ol { list-style: none }
iframe, img { border: 0; vertical-align: top }
table { border-collapse: collapse; border-spacing: 0 }
i, b, s, em { font-style: normal }
del { font-family: '\5b8b\4f53' }
a { text-decoration: none }
body { background-color: #fff; }
a:hover { color: #cc2e5b; text-decoration: none }
.container { width: 1190px; margin: 0 auto; font-size: 14px; line-height: 1.8em; }
.container, .navbar { *zoom: 1; }
.container:after, .navbar:after { content: '\20'; display: block; height: 0; clear: both }
.header { height: 100px; background: url(../img/header.png) repeat-x; }
.logo { float: left; width: 240px; height: 100px; font-size: 0; background: url(../img/logo.png) no-repeat center; }
.navbar { float: left; width: 700px; margin: 66px 0 0 110px; padding: 0 80px 0 60px; background: #1e8d8c url(../img/navbar.png) no-repeat; }
.navbar .item { float: left; width: 150px; height: 34px; text-align: center; }
.navbar .item:hover, .navbar .active { background-color: #12605f; }
.navbar .item a { color: #fff; font: normal 16px/34px '\5fae\8f6f\96c5\9ed1'; }
.banner .item { display: block; margin-bottom: 20px; }
.banner .item img { display: block; }
.breadcrumbs { height: 30px; line-height: 30px; margin-bottom: 20px; border-bottom: 1px solid #eee; color: #333; }
.col-aside, .col-main { padding: 20px 0; }
.col-aside { float: left; width: 160px; }
.col-aside ul { padding-top: 10px; border-top: 30px solid #1e8d8c; border-radius: 3px; }
.col-aside .item { height: 30px; line-height: 30px; padding-left: 20px; border-left: 2px solid #fff; }
.col-aside .item a { color: #333; }
.col-aside .active { border-left-color: #1e8d8c; color: #2A6496; background-color: #eee; }
.col-main { padding-left: 20px; overflow: hidden; }
.mod-list { overflow: hidden; }
.title { margin-bottom: 10px; }
.list-item { float: left; margin: 0 20px 20px 0; }
.list-item .pic { position: relative; display: block; width: 200px; height: 200px; border: 1px solid #eee; }
.list-item img { position: absolute; top: 50%; left: 50%; }