body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 '\5fae\8f6f\96c5\9ed1', 'Lucida Grande', Arial, '\5b8b\4f53' }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
ul, ol { list-style: none }
iframe, img { border: 0; vertical-align: top }
table { border-collapse: collapse; border-spacing: 0 }
i, b, s, em { font-style: normal }
del { font-family: '\5b8b\4f53' }
a { text-decoration: none }
body { background-color: #fff; }
a { color: #1f4f88; }
a:hover { color: #cc2e5b; text-decoration: none }
.container { width: 1190px; margin: 0 auto; font-size: 14px; line-height: 1.8em; }
.container, .navbar { *zoom: 1; }
.container:after, .navbar:after { content: '\20'; display: block; height: 0; clear: both }
.header { height: 100px; background: url(../img/header.png) repeat-x; }
.logo { float: left; width: 240px; height: 100px; font-size: 0; background: url(../img/logo.png) no-repeat center; }
.navbar { float: left; width: 700px; margin: 66px 0 0 110px; padding: 0 80px 0 60px; background: #1e8d8c url(../img/navbar.png) no-repeat; }
.navbar .item { float: left; width: 120px; height: 34px; text-align: center; }
.navbar .item:hover, .navbar .active { background-color: #12605f; }
.navbar .item a { color: #fff; font: normal 16px/34px '\5fae\8f6f\96c5\9ed1'; }
.banner .item { display: block; margin-bottom: 20px; }
.banner .item img { display: block; }
.breadcrumbs { height: 30px; line-height: 30px; margin-bottom: 20px; border-bottom: 1px solid #eee; color: #333; }
.col-aside, .col-main { padding: 20px 0; }
.col-aside { float: left; width: 160px; }
.col-aside ul { padding-top: 36px; border: 1px solid #eee; background: url(../img/footer.jpg) 0 -7px repeat-x; border-radius: 3px; }
.col-aside .item { height: 30px; line-height: 30px; padding-left: 20px; }
.col-aside .item a { color: #333; }
.col-aside .active { background-color: #eee; }
.col-aside .active a { color: #1f4f88; }
.col-main { padding-left: 20px; overflow: hidden; }
.col-main h3 { margin-bottom: 1em; }
.col-main p { margin-bottom: .5em; }
.clearfix { *zoom: 1; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.title { margin-bottom: 20px; }
.list-item { margin-bottom: 20px; padding: 20px 0; border-bottom: 1px solid #eee; overflow: hidden; }
.list-item .pic, .thumb { position: relative; float: left; width: 220px; height: 220px; margin-right: 20px; border: 1px solid #eee; background: url(../img/loading.gif) no-repeat center; }
.list-item img { display: none; position: absolute; top: 50%; left: 50%; }
.list-item .name { display: block; margin-bottom: 10px; font-size: 14px; color: #1f4f88; overflow: hidden; }
.list-item .price { margin-left: 20px; color: red; }
.list-item .prop { font-size: 12px; overflow: hidden; }
.list-item .table td { width: 180px; padding-right: 10px; }
.list-item .table .dt { width: 75px; color: #999; }
.thumbs { padding-top: 35px; }
.thumbs li { float: left; }
.thumb { width: 50px; height: 50px; margin-right: 5px; background: none; }
.footer { text-align: center; }
.copyright { padding: 20px; color: #666; font-size:12px; }
.copyright a { color: #666; }
.footer-info { margin-bottom: 50px; }
.footer-info img { margin: 0 10px; }
